@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+TC:wght@400;500;600;700&display=swap');

body {
  background-color: var(--color-bg);
  transition: background-color 0.3s ease, color 0.3s ease;
}

*:focus {
  outline: none;
}
